.menu {
    width: 100%;
    height: 200%;
}

.navbar{
    background-color: white;
    margin: 0;
    padding: 20px 0;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.container-fluid {
    position: relative;
    text-align: center;
    color: white;
    padding-left: 0px;
    padding-right: 0px;
}

.title h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 70px;
}

.main-overlay{
    background: rgba(0, 0, 0, 0.8);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 10;
    bottom: 10;
}
.overlay{
    background: rgba(0, 0, 0, 0.8);
    position: absolute;
    width: 100%;
    height: 75vh;
    top: 10;
    bottom: 10;
}
.main-single-post {
    background: url(single-post-bg.jpg) no-repeat;
    height: 75vh;
    width: 100%;
}

.main-about-us {
    background: url(about-bg.jpg) no-repeat;
    height: 75vh;
    width: 100%;
}

.main-gallery {
    background: url(gallery-bg.jpg) no-repeat;
    height: 75vh;
    width: 100%;
}

.main-contact {
    background: url(contact-bg.jpg) no-repeat;
    height: 75vh;
    width: 100%;
}

h6 {
    color: darkgoldenrod;
    padding-top: 20px;
    padding-bottom: 20px;
}

.img2 {
    padding-left: 2in;
    padding-right: 2in;
    padding-top: 1in;
    padding-bottom: 0.5in;
}

h3,
h2 {
    padding-top: 40px;
    padding-bottom: 10px;
}

h3:hover{
    color: #bfba55;
}

.note {
    padding-top: 20px;
    padding-bottom: 20px;
}

.img3 {
    padding-left: 2in;
    padding-right: 2in;
    padding-top: o.5in;
    padding-bottom: 0.5in;
}

.img4 {
    padding-left: 2in;
    padding-right: 2in;
    padding-top: 0.5in;
    padding-bottom: 0.5in;
}

.img5 {
    padding-left: 2in;
    padding-right: 2in;
    padding-top: 0.5in;
    padding-bottom: 0.5in;
}

.img6 {
    padding-left: 2in;
    padding-right: 2in;
    padding-top: 0.2in;
    padding-bottom: 0.5in;
}

p{
    color:rgb(119, 118, 118);
}

.letter {
    padding-left: 2in;
    padding-right: 2in;
    padding-top: 0.2in;
    padding-bottom: 0.5in;
}

.gallery {
    padding-left: 2in;
    padding-right: 2in;
    padding-top: 0.5in;
    padding-bottom: 0.7in;
}

.contact {
    padding-left: 2in;
    padding-right: 2in;
    padding-top: 0.5in;
    padding-bottom: 0.7in;
}
.video {
    padding-left: 2in;
    padding-right: 2in;
    padding-top: 0.5in;
    padding-bottom: 0.5in;
}

.span img {
    display: inline-block;
    width: 40px;
    margin-right: 4px;
}
span a{
    color:rgb(119, 118, 118);
}
span {
    color:rgb(119, 118, 118);
}

.btn {
    border-radius: 100px;
    margin-bottom: 40px;
    border-color: gray;
    color:rgb(119, 118, 118);
    background-color: white;
    padding: 14px 28px;
}

.img-circle {
    border-radius: 50%;
}

.mdbd h5 {
    display: inline-block;
    padding-right: 15px;
}

.form-group-custom:hover>input {
    border: 1px solid black;
}

.form-group-custom:hover>textarea {
    border: 1px solid black;
}

.blockquote {
    margin: 20px;
    padding: 10px 20px;
    border-left-width: 5px;
    border-left-style: solid;
    border-left-color: rgb(230, 227, 227);
}

.img-row {
    margin-left: -5px;
}

.img-row1 {
    padding-top: 0.5in;
    margin-left: 0px;
}

.img-row1 h4 {
    padding-top: 20px;
}

.img-col1 {
    width: 33%;
    padding: 5px;
}

.img-col {
    float: left;
    width: 33%;
    padding: 5px;
}

.letter-row {
    margin-left: 8px;
}

.media {
    /* padding-bottom: 10px; */
    padding-top: 20px;
}

.comment {
    padding-bottom: 30px;
}

.img-let {
    padding-top: 40px;
}

.gallery-col {
    padding: 0px;
}

.gallery-row{
    padding-top: 30px;
    padding-bottom: 20px;
    margin-left: 3px;
}

.contact:hover>textarea{
    border: 1px solid black;
}

footer {
    background: #000;
    color: #ffffff;
    padding: 80px 0px;
    position: relative;
}

li {
    list-style: none;
}

footer hr {
    border-color: #121212;
    margin-top: 62px;
    margin-bottom: 42px;
}

footer .footer-copyright {
    padding-top: 12px;
}

/* .custom-btn {
    background: rgb(168, 168, 46);
} */

.custom-btn:hover {
    background: rgb(168, 168, 46);
}

.custom-btn-color {
    color: white;
    background-color: #bfba55;
}

.custom-btn-color:hover {
    background-color: darkgray;
}

.social-icon {
    text-align: center;
}

.social-icon>a {
    border: 1px solid;
    width: 50px;
    height: 50px;
    line-height: 50px;
    border-radius: 100px;
    text-decoration: none;
}


.social-icon>a:hover {
    border-color: #bfba55;
    color: #bfba55 !important;
    transform: scale(1.1);
    transition: transform 1s;
}

.gallery-col>img {
    position: relative;
    top: 0px;
    transition: all 0.4s ease-in-out;
}

.gallery-col>img:hover {
    box-shadow: 0px 16px 22px 0px rgba(90, 91, 95, 0.3);
    top: -5px;
}

.contact-gp{
    padding-top: 20px;
}